@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/* Shared Styles */
* {
    margin: 0px;
    padding: 0px;
}

header {
    background: linear-gradient(180deg, #111 100%, rgba(119, 119, 119, 0.00) 100%);
}

main,
footer {
    background: #000000;
}

.section-tit-des {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.section-tit {
    color: #FFF;
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
}

.section-des {
    color: rgba(255, 255, 255, 0.50);
    /* text-align: center; */
    font-family: Inter;
    font-size: 0.9rem;
    font-weight: 400;
}

.primary-btn {
    width: 224px;
    padding: 16px 40px;
    border-radius: 42px;
    background: #E6533C;
    border: none;
    cursor: pointer;
    color: #FFF;
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 600;

}

/* navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 190px 0px 190px;

}

.nav-tit {
    color: #E6533C;
    font-family: "Inter";
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 800;

}

.nav-items {
    list-style: none;
    padding: 4px;
    display: flex;
    align-items: center;
    gap: 47px;
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.items-nav {
    color: #FFF;
    font-family: "Inter";
    font-size: 1.1rem;
    font-weight: 400;
}

#home {
    background: #E6533C;
    padding: 8px 20px;
    border-radius: 46px;

}

.nav-btn {
    display: none;
    color: #FFF;
    background: transparent;
    border: none;
    width: 24px;
    height: 24px;
}

/* Banner Styles */
.banner {
    margin: 57px 190px 0px 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-left {
    max-width: 520px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.left-tit {
    color: #FFF;
    font-family: "Inter";
    font-size: 4.875rem;
    font-weight: 900;
}

.caligraphy {
    color: #FFF;
    font-family: "Arizonia";
    font-size: 4.875rem;
    font-weight: 400;
}

.left-des {
    color: rgba(255, 255, 255, 0.50);
    font-family: "Inter";
    font-size: 1rem;
    font-weight: 400;
}

.btns {
    display: flex;
    gap: 14px;
}

.btn-1 {
    border: none;
    width: 224px;
    padding: 16px 40px;
    border-radius: 42px;
    background: #E6533C;
    color: #FFF;
    font-size: 1.125rem;
    font-family: "Inter";
    font-weight: 600;
    cursor: pointer;
}

.btn-2 {
    width: 224px;
    padding: 16px 40px;
    border-radius: 42px;
    border: 1px solid #FFF;
    background: transparent;
    color: #FFF;
    font-size: 1.125rem;
    font-family: "Inter";
    font-weight: 600;
    cursor: pointer;
}

.banner-right {
    display: flex;
    justify-content: center;
    align-items: center;

}

.lefty {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 20px;
    max-width: 206px;
    /* height: 96px; */
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    margin-bottom: -360px;
    margin-right: -90px;
}

.round-box {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E6533C;
}

.tuto-tit {
    color: #FAFAF9;
    font-family: "Inter";
    font-size: 1.5rem;
    font-weight: 900;
}

.tuto-des {
    color: rgba(239, 237, 232, 0.65);
    font-family: "Inter";
    font-size: 1rem;
    font-weight: 400;
}

.righty {
    max-width: 193px;
    padding: 20px 16px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    margin-top: -250px;
    margin-left: -120px;
}

.righty-tit {
    color: #FFF;
    font-family: Inter;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 5px;
}

.righty-des {
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 1.23rem;
    font-weight: 400;
}

/* Habits Styles */
.habit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.habit-tit-des {
    max-width: 671px;
}

.round-hab-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.hab-card {
    width: 231px;
}

.hab-card img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.hab-tit {
    color: #FFF;
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.hab-des {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Inter;
    font-size: 0.9rem;
    font-weight: 400;
}

/* Extra Run styles */
.extra-run-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 190px 0px 190px;
    border-radius: 18px;
    background: #222;
    padding: 30px 32px 29px 54px;
}

.run-container {
    display: flex;
    gap: 165px;
}

.run-left {
    max-width: 443px;
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.run-right img {
    max-width: 366px;
    border-radius: 18px;
}

/* Training */
.training-container {
    margin: 100px 190px 0px 190px;
    display: flex;
    flex-direction: column;
    gap: 58px;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    gap: 0px;

}

.ex-1 {
    width: 323px;
    background: linear-gradient(0deg, rgba(6, 255, 210, 0.50) 0%, rgba(6, 255, 210, 0.50) 100%), url(../images/exercise1.jpg) lightgray 50% / cover no-repeat;
}

.ex-2 {
    width: 519px;
    margin-left: -130px;
    background: linear-gradient(0deg, rgba(255, 0, 0, 0.30) 0%, rgba(255, 0, 0, 0.30) 100%), url(../images/exercise2.png) lightgray -0.336px 0px / 100.125% 111.811% no-repeat;
}

.ex-3 {
    width: 368px;
    margin-left: -58px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(../images/exercise3.png) lightgray 50% / cover no-repeat;
}

.ex-4 {
    width: 415px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(../images/exercise4.png) lightgray 50% / cover no-repeat;
}

.ex-5 {
    width: 388px;
    margin-left: -25px;
    background: linear-gradient(0deg, rgba(66, 255, 0, 0.30) 0%, rgba(66, 255, 0, 0.30) 100%), url(../images/exercise5.jpg) lightgray 50% / cover no-repeat;
}

.ex-6 {
    width: 356px;
    margin-left: -47px;
    background: linear-gradient(0deg, rgba(0, 71, 255, 0.30) 0%, rgba(0, 71, 255, 0.30) 100%), url(../images/exercise6.jpg) lightgray 50% / cover no-repeat;
}

.img-lala {
    /* width: 380px; */
    height: 220px;
}

.text-3 {
    color: #FFF;
    font-family: Inter;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 20px;
}

/* BMI Calculator*/
.bmi-calc-title {
    margin: 88px 190px 88px 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* BMI Calculator Form */
.BMI-form {
    background: #222;
}

.bmi-form-container {
    margin: 0px 190px 0px 190px;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bmi-tit {
    color: #FFF;
    font-family: Inter;
    font-size: 1.75rem;
    font-weight: 900;
}

.bmi-left {
    display: flex;
    flex-direction: column;
    gap: 52px;
    justify-content: center;
}

table {
    border: 1px dotted rgba(255, 255, 255, 0.10);
    border-collapse: collapse;
    width: 55%;
}

th {
    border: 1px dotted rgba(255, 255, 255, 0.10);
    padding: 12px 19px;
    text-align: left;
    color: #FFF;
}

td {
    border: 1px dotted rgba(255, 255, 255, 0.10);
    padding: 12px 19px;
    text-align: left;
    color: #FFF;
    opacity: 50%;
}

.bmi-right {
    display: flex;
    flex-direction: column;
    gap: 34px;
    justify-content: center;
}

.height-weight {
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}

.imput-fld {
    padding: 12px 40px 12px 20px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);
    width: 100%;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

select {
    color: rgba(255, 255, 255, 0.60);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
}

.team-container {
    margin: 88px 190px 0px 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 58px;
    padding-bottom: 88px;
}

.text-aling {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.team-img {
    padding: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.10);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.img-tit {
    color: #FFF;
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 900;
    margin-left: 19px;
}

.img-des {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: 19px;
    margin-bottom: 16px;
}

.img-box-1 {
    border-radius: 18px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../images/trainer1.png) lightgray 50% / cover no-repeat;
    height: 272px;
    width: 100%;
}

.img-box-2 {
    border-radius: 18px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../images/trainer2.png) lightgray 50% / cover no-repeat;
    height: 272px;
    width: 100%;
}

.img-box-3 {
    border-radius: 18px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../images/trainer3.png) lightgray 50% / cover no-repeat;
    height: 272px;
    width: 100%;
}

.img-box-4 {
    border-radius: 18px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../images/trainer4.png) lightgray 50% / cover no-repeat;
    height: 272px;
    width: 100%;
}

.img-box-5 {
    border-radius: 18px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../images/trainer5.png) lightgray 50% / cover no-repeat;
    height: 272px;
}

.img-box-6 {
    border-radius: 18px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(../images/trainer6.png) lightgray 50% / cover no-repeat;
    height: 272px;
}


/* Footer Styles */
footer {
    background-color: #222;
}

.foot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 66px 190px 35px 190px;/
}

.foot-upper {
    display: flex;
    gap: 102px;

}

.foot-tit {
    color: #E6533C;
    font-family: Inter;
    font-size: 4.375rem;
    font-style: italic;
    font-weight: 800;
    margin-bottom: 20px;
}

.foot-des {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 400;
    max-width: 443px;
}

.right-f {
    display: flex;
    gap: 152px;
    margin-bottom: 79px;
}

.middle-right-f {
    display: flex;
    flex-direction: column;
    gap: 39px;
}

.strtd {
    color: #FFF;
    font-family: Inter;
    font-size: 2rem;
    font-weight: 700;
}

.get-strtd {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.strtd-itm {
    list-style: none;
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
}

.hir {
    height: 2px;
    border: none;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.10);
    margin-bottom: 35px;
}

.reserved {
    color: rgba(255, 255, 255, 0.50);
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 400;

}

.foot-lower {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}




/* Media query Mobile */
@media screen and (max-width: 576px) {
    nav {
        padding: 52px 20px 0px 20px;
    }

    .items-nav {
        display: none;
    }

    .nav-btn {
        display: flex;
        cursor: pointer;
    }

    .banner {
        flex-direction: column;
        margin: 51px 20px 0px 20px;
        align-items: flex-start;
        gap: 48px;
    }

    .banner-left {
        width: 75%;
    }

    .left-tit {
        font-size: 2.25rem;
    }

    .caligraphy {
        font-size: 2.25rem;
    }

    .lefty {
        margin-bottom: 0px;
        margin-right: -160px;
    }

    .righty {
        margin-top: -390px;
        margin-left: -150px;
    }

    .habit-container {
        padding-top: 15px;
    }

    .round-hab-card {
        grid-template-columns: repeat(1, 1fr);

    }

    .habit-tit-des {
        max-width: 318px;
    }

    .section-tit {
        font-size: 2rem;
    }

    .extra-run-container {
        margin: 54px 10px 0px 10px;
        padding: 31px 33px;
    }

    .run-container {
        flex-direction: column;
        gap: 31px;
    }

    .run-right img {
        max-width: 287px;
        border-radius: 18px;
    }

    .section-tit {
        font-size: 2rem;
    }

    .training-container {
        margin: 20px 20px 0px 20px;
    }

    .images {
        grid-template-columns: repeat(2, 1fr);
    }

    .ex-1 {
        width: 183px;
    }

    .ex-2 {
        width: 219px;
        margin-left: -86px;
    }

    .ex-3 {
        display: none;
    }

    .ex-4 {
        width: 205px;

    }

    .ex-5 {
        width: 158px;
        margin-left: -25px;
    }

    .ex-6 {
        display: none;
    }

    .img-lala {
        height: 120px;
    }

    .bmi-calc-title {
        margin: 20px;
    }

    .bmi-form-container {
        margin: 20px 20px 0px 20px;
        grid-template-columns: 1fr;
        padding: 34px 20px 43px 20px;
        gap: 42px;
    }

    table {
        width: 100%;
    }

    .team-container {
        margin: 40px 20px 0px 20px;
        gap: 37px;
        padding-bottom: 30px;
    }

    .team-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .foot-container {
        padding: 40px 20px 30px 20px;
        align-items: flex-start;
    }
    .foot-upper {
        flex-direction: column;
    }
    .right-f {
        flex-direction: column;
        gap: 20px;
    }

}


/* Media query Tablet device */
@media screen and (min-width: 567px) and (max-width: 992px) {
    nav {
        padding: 30px 52px 0px 30px;
    }

    .banner {
        flex-direction: column;
        /* margin: 51px 72px 0px 72px; */
        align-items: flex-start;
        gap: 48px;
    }

    .banner-left {
        width: 150%;
    }

    .left-tit {
        font-size: 4.8rem;
    }

    .caligraphy {
        font-size: 4.8rem;
    }

    .banner-right {
        align-items: center;
        justify-content: center;
    }

    .lefty {
        margin-bottom: -190px;
        margin-right: -160px;
    }

    .righty {
        margin-top: -390px;
        margin-left: -150px;
    }

    .round-hab-card {
        grid-template-columns: repeat(2, 1fr);

    }

    .habit-tit-des {
        max-width: 475px;
    }

    .extra-run-container {
        margin: 84px 30px 0px 30px;
    }

    .run-container {
        gap: 68px;
    }

    .section-tit {
        font-size: 2.2rem;
    }

    .training-container {
        margin: 20px 20px 0px 20px;
    }

    .images {
        grid-template-columns: repeat(3, 1fr);
    }

    .ex-1 {
        width: 183px;

    }

    .ex-2 {
        width: 379px;
        margin-left: -130px;
    }

    .ex-3 {
        width: 228px;
        margin-left: -58px;
    }

    .ex-4 {
        width: 275px;

    }

    .ex-5 {
        width: 228px;
        margin-left: -25px;

    }

    .ex-6 {
        width: 216px;
        margin-left: -47px;

    }

    .bmi-form-container {
        margin: 20px 20px 0px 20px;
        grid-template-columns: 1fr;
        padding: 34px 20px 43px 20px;
        gap: 42px;
    }

    table {
        width: 100%;
    }

    .team-container {
        margin: 40px 20px 0px 20px;
        gap: 54px;
        padding-bottom: 40px;
    }

    .foot-container {
        padding: 40px 20px 30px 20px;
        align-items: flex-start;
    }

    .foot-upper {
        flex-direction: column;
    }

}