@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/* Shared Styles */
* {
    margin: 0px;
    padding: 0px;
}

header {
    background: linear-gradient(180deg, #111 100%, rgba(119, 119, 119, 0.00) 100%);
}

main {
    background: #000000;
}

.section-tit-des {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.section-tit {
    color: #FFF;
    font-family: Inter;
    font-size: 3rem;
    font-weight: 900;
}

.section-des {
    color: rgba(255, 255, 255, 0.50);
    /* text-align: center; */
    font-family: Inter;
    font-size: 0.9rem;
    font-weight: 400;
}

.primary-btn {
    width: 224px;
    padding: 16px 40px;
    border-radius: 42px;
    background: #E6533C;
    border: none;
}

/* navbar styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 190px 0px 190px;

}

.nav-tit {
    color: #E6533C;
    font-family: "Inter";
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 800;

}

.nav-items {
    list-style: none;
    padding: 4px;
    display: flex;
    align-items: center;
    gap: 47px;
    border-radius: 39px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.items-nav {
    color: #FFF;
    font-family: "Inter";
    font-size: 1.1rem;
    font-weight: 400;
}

#home {
    background: #E6533C;
    padding: 8px 20px;
    border-radius: 46px;

}

.nav-btn {
    display: none;
    color: #FFF;
    background: transparent;
    border: none;
    width: 24px;
    height: 24px;
}

/* Banner Styles */
.banner {
    margin: 57px 190px 0px 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-left {
    max-width: 520px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.left-tit {
    color: #FFF;
    font-family: "Inter";
    font-size: 4.875rem;
    font-weight: 900;
}

.caligraphy {
    color: #FFF;
    font-family: "Arizonia";
    font-size: 4.875rem;
    font-weight: 400;
}

.left-des {
    color: rgba(255, 255, 255, 0.50);
    font-family: "Inter";
    font-size: 1rem;
    font-weight: 400;
}

.btns {
    display: flex;
    gap: 14px;
}

.btn-1 {
    border: none;
    width: 224px;
    padding: 16px 40px;
    border-radius: 42px;
    background: #E6533C;
    color: #FFF;
    font-size: 1.125rem;
    font-family: "Inter";
    font-weight: 600;
}

.btn-2 {
    width: 224px;
    padding: 16px 40px;
    border-radius: 42px;
    border: 1px solid #FFF;
    background: transparent;
    color: #FFF;
    font-size: 1.125rem;
    font-family: "Inter";
    font-weight: 600;
}

.banner-right {
    display: flex;
    justify-content: center;
    align-items: center;

}

.lefty {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 20px;
    max-width: 206px;
    /* height: 96px; */
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
    margin-bottom: -360px;
    margin-right: -90px;
}

.round-box {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E6533C;
}

.tuto-tit {
    color: #FAFAF9;
    font-family: "Inter";
    font-size: 1.5rem;
    font-weight: 900;
}

.tuto-des {
    color: rgba(239, 237, 232, 0.65);
    font-family: "Inter";
    font-size: 1rem;
    font-weight: 400;
}

.righty {
    max-width: 193px;
    padding: 20px 16px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    margin-top: -250px;
    margin-left: -120px;
}

.righty-tit {
    color: #FFF;
    font-family: Inter;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 5px;
}

.righty-des {
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 1.23rem;
    font-weight: 400;
}

/* Habits Styles */
.habit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

.habit-tit-des {
    max-width: 671px;
}

.round-hab-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.hab-card {
    width: 231px;
}

.hab-card img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.hab-tit {
    color: #FFF;
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 6px;
}

.hab-des {
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Inter;
    font-size: 0.9rem;
    font-weight: 400;
}

/* Extra Run styles */
.extra-run-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 190px 0px 190px;
    border-radius: 18px;
    background: #222;
    padding: 30px 32px 29px 54px;
}

.run-container {
    display: flex;
    gap: 165px;
}

.run-left {
    max-width: 443px;
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.run-right img {
    max-width: 366px;
    border-radius: 18px;
}











/* Media query Mobile */
@media screen and (max-width: 576px) {
    nav {
        padding: 52px 20px 0px 20px;
    }

    .items-nav {
        display: none;
    }

    .nav-btn {
        display: flex;
        cursor: pointer;
    }

    .banner {
        flex-direction: column;
        margin: 51px 20px 0px 20px;
        align-items: flex-start;
        gap: 48px;
    }

    .banner-left {
        width: 75%;
    }

    .left-tit {
        font-size: 2.25rem;
    }

    .caligraphy {
        font-size: 2.25rem;
    }

    .lefty {
        margin-bottom: 0px;
        margin-right: -160px;
    }

    .righty {
        margin-top: -390px;
        margin-left: -150px;
    }

    .habit-container {
        padding-top: 15px;
    }

    .round-hab-card {
        grid-template-columns: repeat(1, 1fr);

    }

    .habit-tit-des {
        max-width: 318px;
    }

    .section-tit {
        font-size: 2rem;
    }

    .extra-run-container {
        margin: 54px 10px 0px 10px;
        padding: 31px 33px;
    }

    .run-container {
        flex-direction: column;
        gap: 31px;
    }
    /* .run-left{
        max-width: 287px;
    } */
     .run-right img{
        max-width: 287px;
        border-radius: 18px;
     }

    .section-tit {
        font-size: 2rem;
    }


}


/* Media query Tablet device */
@media screen and (min-width: 567px) and (max-width: 992px) {
    nav {
        padding: 30px 52px 0px 30px;
    }

    .banner {
        flex-direction: column;
        /* margin: 51px 72px 0px 72px; */
        align-items: flex-start;
        gap: 48px;
    }

    .banner-left {
        width: 150%;
    }

    .left-tit {
        font-size: 4.8rem;
    }

    .caligraphy {
        font-size: 4.8rem;
    }

    .banner-right {
        align-items: center;
        justify-content: center;
    }

    .lefty {
        margin-bottom: -190px;
        margin-right: -160px;
    }

    .righty {
        margin-top: -390px;
        margin-left: -150px;
    }

    .round-hab-card {
        grid-template-columns: repeat(2, 1fr);

    }

    .habit-tit-des {
        max-width: 475px;
    }

    .extra-run-container {
        margin: 84px 30px 0px 30px;
    }

    .run-container {
        gap: 68px;
    }

    .section-tit {
        font-size: 2.2rem;
    }


}